body {
    margin: 0px;
  }
  .App {
    font-family: sans-serif;
    color: green;
    font-size: 16px;
  }
    
  span {
    color: red;
    font-size: 18px;
    font-weight: 13px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
      
  }